{% extends 'layout/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <style>
        .end_time:focus {
            outline: none;
        }
    </style>
{% endblock extra_css %}
{% block content %}
    <!-- breadcrumb-start -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  py-2">
            <div class="container d-flex">
                <li class="breadcrumb-item "><a href="{% url 'home' %}">Главная</a></li>
                {% if filter_status %}
                    <li class="breadcrumb-item active text-dark" aria-current="page"><a
                            href="{% url 'wash-order-list' %}">Заказы</a></li>
                    <li class="breadcrumb-item active text-dark" aria-current="page">{% if filter_status == 'during' %} В
                        процессе {% elif filter_status == 'accepted' %} Принято {% elif filter_status == 'submitted' %}
                        Отправлен{% elif filter_status == 'completed' %} Завершен{% endif %}</li>
                {% else %}
                    <li class="breadcrumb-item active text-dark" aria-current="page">Заказы</li>
                {% endif %}
            </div>
        </ol>
    </nav>
    <!-- breadcrumb-end -->


    <!-- client-add start -->
    <div class="container">
        {% if search_value %}
            <div class="row mt-2">
                <div class="col-md-6">
                    <h5>Поиск по запросу: {{ search_value }}</h5>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'wash-order-list' %}" class="btn btn-danger float-right">Сброс</a>
                </div>
            </div>
        {% elif filter_status %}
            <div class="row mt-2">
                <div class="col-md-6">
                    <h5>Поиск по статусу: {% if filter_status == 'during' %} В
                        процессе {% elif filter_status == 'accepted' %} Принято {% elif filter_status == 'submitted' %}
                        Отправлен{% elif filter_status == 'completed' %} Завершен{% endif %}</h5>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'wash-order-list' %}" class="btn btn-danger float-right mb-1">Сброс</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- client-add end -->

    <!-- table-start -->
    <div class="container table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Команда</th>
                <th scope="col">Клиент</th>
                <th scope="col">Номер</th>
                <th scope="col">Статус</th>
                <th scope="col">Дата старта</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Возможности</th>
            </tr>
            </thead>
            <tbody class="bg-light">
            {% for wash_order in wash_orders %}
                <tr>
                    <th scope="row">{{ wash_order.numbering }}</th>
                    <td>{{ wash_order.team.worker_name|default:'-' }}</td>
                    <td><a class="text-info text-decoration-none"
                           href="{% url 'client-detail' wash_order.client.pk %}">{{ wash_order.client.full_name }}</a>
                    </td>
                <td>{{ wash_order.client.phone }}</td>
                    <td class="{% if wash_order.status == 'during' %}text-success  {% elif wash_order.status == 'accepted' %}text-warning {% elif wash_order.status == 'submitted' %} text-info {% elif wash_order.status == 'completed' %} text-danger{% endif %}">{{ wash_order.get_status_display }}</td>
                    <td>{{ wash_order.start_time|default:'-' }}</td>
                    <td>{{ wash_order.end_time|default:'-' }}</td>
                    <td>
                        {% if wash_order.status == 'during' or wash_order.status == 'accepted' %}
                            <form action="{% url 'wash-order-update' wash_order.pk %}" method="get"
                                  style="position: absolute">
                                <input type="hidden" name="back_url" value="wash-order-list">
                                <button type="submit"
                                        class="btn btn-outline-dark btn-sm mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         style="margin-bottom: 2px"
                                         class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </button>
                            </form>
                            <button class="btn btn-outline-danger btn-sm mr-2"
                                    onclick="removeWashOrderModalShow({{ wash_order.id }}, '{{ wash_order.team }}')"
                                    style="margin-left: 30px"
                                    data-target="#removeWashOrderModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        {% endif %}
                        <a href="{% url 'wash-order-detail' wash_order.pk %}" class="btn btn-outline-secondary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <!-- Modal Client -->
    <div class="modal fade" id="removeWashOrderModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="removeWashOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">
                        Заказ: <span id="removeWashOrderName"></span></h6>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-black">Точно хотите удалить
                        его?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'order_action' %}" method="post">
                        <input type="hidden" name="action" value="delete_wash_order">
                        <input type="hidden" name="back_url" value="wash-order-list">
                        <input type="hidden" id="washOrderId" name="wash_order_id" value="">
                        <button id="removeWashOrderButton" type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.select2-container--default').addClass('form-control')
            $('.select2-selection--single').attr('style', 'border: 0')
            $('#team_select2').select2({
                placeholder: 'Команда',
                allowClear: true
            });
            $('#client_select2').select2({
                placeholder: 'Клиент',
                allowClear: true
            });
            $('#status_select2').select2({
                placeholder: 'Статус',
                allowClear: true
            });
        });
        $('.select2-example').select2({
            placeholder: 'Статус',
            allowClear: true
        });

        function removeWashOrderModalShow(id, name) {
            $(`#removeWashOrderName`).text(name)
            $(`#removeWashOrderModal`).modal('toggle')
            $(`#washOrderId`).attr('value', id)
        }
    </script>
{% endblock extra_js %}
