{% extends 'layout/base.html' %}
{% load static humanize poll_extras %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
{% endblock extra_css %}
{% block content %}

    <nav aria-label=" breadcrumb">
        <ol class="breadcrumb  py-2">
            <div class="container d-flex">
                <li class="breadcrumb-item "><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'wash-order-list' %}">Заказы</a></li>
                <li class="breadcrumb-item active text-dark" aria-current="page">{{ wash_order.team.worker_name }}</li>
            </div>
        </ol>
    </nav>

    <div class="content-body">
        <div class="container">
            <div class="row page-titles mx-0 py-4">
                <div class="col-md-6">
                    <div class="welcome-text">
                        <h4 class="text-dark m-0">Заказ: {{ wash_order.client }} | №{{ wash_order.numbering }}</h4>
                    </div>
                </div>
                <div class="dropdown col-md-6">
                    <button type="button" class="btn btn-dark sharp float-right" data-toggle="dropdown"
                            aria-expanded="false">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <circle fill="#fff" cx="5" cy="12" r="2"></circle>
                                <circle fill="#fff" cx="12" cy="12" r="2"></circle>
                                <circle fill="#fff" cx="19" cy="12" r="2"></circle>
                            </g>
                        </svg>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul>
                            {% if request.user.is_superuser and wash_order.status != 'completed' %}
                                <form action="{% url 'wash-order-update' wash_order.pk %}" method="get">
                                    <input type="hidden" value="wash-order-detail" name="back_url">
                                    <input type="hidden" value="{{ wash_order.pk }}" name="pk">
                                    <button type="submit" class="dropdown-item" href="">Редактировать</button>
                                </form>
                            {% endif %}
                            {% if wash_order.status == 'during' %}
                                <li>
                                    <form class="text-center"
                                          action="{% url 'order_action' %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="wash_order_pk" value="{{ wash_order.pk }}">
                                        <input type="hidden" name="action" value="update_status_wash_order">
                                        <input type="hidden" name="back_url" value="wash-order-detail">
                                        <input type="hidden" name="status_value" value="accepted">
                                        <button type="submit" class="btn btn-transparent px-2">
                                            Принято
                                        </button>
                                    </form>
                                </li>
                            {% endif %}
                            {% if wash_order.status == 'accepted' %}
                                <li>
                                    <form class="text-center"
                                          action="{% url 'order_action' %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="wash_order_pk" value="{{ wash_order.pk }}">
                                        <input type="hidden" name="action" value="update_status_wash_order">
                                        <input type="hidden" name="back_url" value="wash-order-detail">
                                        <input type="hidden" name="status_value" value="submitted">
                                        <button type="button" class="btn btn-transparent px-2" onclick="printTable({
                                                'action': 'update_status_wash_order',
                                                'back_url': 'wash-order-detail',
                                                'wash_order_pk': {{ wash_order.pk }},
                                                'status_value': 'submitted'
                                                })">
                                            Отправлен
                                        </button>
                                    </form>
                                </li>
                            {% endif %}
                            {% if wash_order.status == 'submitted' %}
                                <li>
                                    <form class="text-center"
                                          action="{% url 'order_action' %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="wash_order_pk" value="{{ wash_order.pk }}">
                                        <input type="hidden" name="action" value="update_status_wash_order">
                                        <input type="hidden" name="back_url" value="wash-order-detail">
                                        <input type="hidden" name="status_value" value="completed">
                                        <button type="submit" class="btn btn-transparent px-2">
                                            Завершен
                                        </button>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm table-hover table-striped">
                                        <tbody>
                                        <tr>
                                            <button id="button_save_team_and_status"
                                                    form="form_team_and_status"
                                                    type="submit"
                                                    class="btn btn-info float-right d-none">Сохранить
                                            </button>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr>
                                            <table id="w0" class="table table-striped table-bordered detail-view">
                                                <tbody>
                                                <tr>
                                                    <form id="form_team_and_status" action="{% url 'order_action' %}"
                                                          method="post">
                                                        <input type="hidden" name="action"
                                                               value="update_team_and_status">
                                                        <input type="hidden" name="back_url" value="wash-order-detail">
                                                        <input type="hidden" name="wash_order_pk"
                                                               value="{{ wash_order.pk }}">
                                                        <th>Команда</th>
                                                        <td>
                                                            {% if wash_order.status == 'during' %}
                                                                <select class="form-control select2-example bg-white update_team_or_status"
                                                                        autocomplete="off" name="team_value"
                                                                        id="team_select2">
                                                                    <option value="">Команды</option>
                                                                    {% for team in teams %}
                                                                        <option value="{{ team.id }}">{{ team }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% else %}
                                                                {{ wash_order.team }}
                                                            {% endif %}
                                                        </td>
                                                        <th>Статус</th>
                                                        <td>
                                                        <span>
                                                            <a class="text-decoration-none {% if wash_order.status == 'during' %}text-success  {% elif wash_order.status == 'accepted' %}text-warning {% elif wash_order.status == 'submitted' %} text-info {% elif wash_order.status == 'completed' %} text-danger{% endif %}"
                                                               style="cursor: pointer"
                                                               id="id_status_text">{{ wash_order.get_status_display }}</a>
                                                        </span>
                                                            {#                                                            <select class="form-control bg-white d-none update_team_or_status"#}
                                                            {#                                                                    autocomplete="off" name="status_value"#}
                                                            {#                                                                    id="id_select_status">#}
                                                            {#                                                                {% for status in statuses %}#}
                                                            {#                                                                    {% if not status == wash_order.status %}#}
                                                            {#                                                                <option value="during"#}
                                                            {#                                                                        {% if wash_order.status == 'during' %}selected{% endif %}>#}
                                                            {#                                                                    В процессе#}
                                                            {#                                                                </option>#}
                                                            {#                                                                <option value="accepted"#}
                                                            {#                                                                        {% if wash_order.status == 'accepted' %}selected{% endif %}>#}
                                                            {#                                                                    Принято#}
                                                            {#                                                                </option>#}
                                                            {#                                                                <option value="submitted"#}
                                                            {#                                                                        {% if wash_order.status == 'submitted' %}selected{% endif %}>#}
                                                            {#                                                                    Отправлен#}
                                                            {#                                                                </option>#}
                                                            {#                                                                <option value="completed"#}
                                                            {#                                                                        {% if wash_order.status == 'completed' %}selected{% endif %}>#}
                                                            {#                                                                    Завершен#}
                                                            {#                                                                </option>#}
                                                            {#                                                                    {% endif %}#}
                                                            {#                                                                {% endfor %}#}
                                                            {#                                                            </select>#}
                                                        </td>
                                                    </form>
                                                </tr>
                                                <tr>
                                                    <th>Дата старта</th>
                                                    <td>{{ wash_order.start_time|default:'-' }}</td>
                                                    <th>Дата окончания</th>
                                                    <td>{{ wash_order.end_time|default:'-' }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Цена</th>
                                                    <td>{{ wash_order.price }}</td>
                                                    <th>Общая сумма</th>
                                                    <td>{{ wash_order.total|intcomma }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="ml-3 mt-2">Список ковров</h5>
                </div>
                <div class="col-md-12">
                    <div class="container">
                        {% if request.user.is_superuser or wash_order.status == 'during' or wash_order.status == 'accepted' %}
                            <div class="row bg-light mt-1 p-3">
                                <div class="col-md-12">
                                    <form id="wash_order_item_form" action="{% url 'order_action' %}" method="post"
                                          class="row">
                                        <input id="different_action" type="hidden" name="action"
                                               value="create_wash_order_item">
                                        <input type="hidden" name="back_url" value="wash-order-detail">
                                        <input type="hidden" name="wash_order_pk" value="{{ wash_order.pk }}">
                                        <input type="hidden" id="wash_order_item_pk" name="wash_order_item_pk" value="">
                                        {% csrf_token %}
                                        <div class="pl-1 col-md-3">
                                            <input id="id_x_size" class="form-control wash_order_item_size" type="text"
                                                   autocomplete="off"
                                                   name="x_size"
                                                   placeholder="x_size" required>
                                        </div>
                                        <div class="col-md-3">
                                            <input id="id_y_size" class="form-control wash_order_item_size" type="text"
                                                   autocomplete="off"
                                                   name="y_size"
                                                   placeholder="y_size" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input id="id_area" class="form-control" type="text" name="area"
                                                   readonly
                                                   placeholder="Площадь">
                                        </div>
                                        <div class="col-md-2">
                                            <input id="id_summa" class="form-control" type="text" name="summa"
                                                   placeholder="Сумма">
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit"
                                                    id="id_button_add_or_update"
                                                    class="btn btn-outline-secondary btn-block p-1 text-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                     fill="currentColor"
                                                     class="bi bi-plus" viewBox="0 0 16 16">
                                                    <path
                                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- client-add end -->

                    <!-- table-start -->
                    <div class="container">
                        <table class="table table-bordered text-center">
                            {% if request.user.is_superuser %}
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">x_size</th>
                                    <th scope="col">y_size</th>
                                    <th scope="col">Площадь</th>
                                    <th scope="col">Сумма</th>
                                    <th scope="col">Возможности</th>
                                </tr>
                                </thead>
                            {% endif %}
                            <tbody id="id_wash_order_item_list" class="bg-light table_tr_list">
                            {% for item in wash_order_items %}
                                <tr id="id_tr_wash_order_item_{{ item.pk }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td id="id_td_x_size_{{ item.pk }}">{{ item.x_size }}</td>
                                    <td id="id_td_y_size_{{ item.pk }}">{{ item.y_size }}</td>
                                    <td id="id_td_area_{{ item.pk }}">{{ item.area }}</td>
                                    <td id="id_td_summa_{{ item.pk }}"
                                        class="td_summa_list">{{ item.summa|intcomma }}</td>
                                    <td>
                                        {% if request.user.is_superuser or wash_order.status == 'during' or wash_order.status == 'accepted' %}
                                            <button class="btn btn-outline-danger btn-sm mr-2"
                                                    onclick="removeWashOrderItemModalShow({{ item.id }}, '{{ item.area }}')"
                                                    data-target="#removeWashOrderItemModal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor"
                                                     class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd"
                                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </button>
                                            <button type="button"
                                                    onclick="updateWashOrderItem({{ item.id }},
                                                            $('#id_td_x_size_{{ item.pk }}').text(),
                                                            $('#id_td_y_size_{{ item.pk }}').text(),
                                                            $('#id_td_area_{{ item.pk }}').text(),
                                                            $('#id_td_summa_{{ item.pk }}').text())"
                                                    class="btn btn-outline-dark btn-sm mr-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor"
                                                     style="margin-bottom: 2px"
                                                     class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                </svg>
                                            </button>
                                            </td>
                                        {% endif %}
                                </tr>
                            {% endfor %}
                            <tr class="table-dark">
                                <td colspan="3">
                                    <h4 class="text-dark">Общий итог</h4>
                                </td>
                                <td>
                                    <h6 class="text-black-50">{{ total.total_area|default:0 }}</h6>
                                </td>
                                <td>
                                    <h6 class="text-black-50">{{ total.total_summa|default:0|intcomma }}</h6>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-dark mt-3 ml-2">Добавить оплату для этого заказа</h5>
                </div>
            </div>
            <div class="row mt-2 border" style="margin: 0 .1rem;">
                <div class="col-md-12">
                    <form id="payment_add" class="card-body row" method="post"
                          action="{% url 'order_action' %}">
                        <input type="hidden" name="action" value="order_payment">
                        <input type="hidden" name="wash_order_pk" value="{{ wash_order.pk }}">
                        <input type="hidden" name="back_url" value="wash-order-detail">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <label>Сумма</label>
                            <input id="id_amount" autocomplete="off" class="form-control"
                                   required
                                   type="number" step="any"
                                   min="0.1" name="amount">
                        </div>
                        <div class="col-md-3">
                            <label>Метод оплаты:</label>
                            <select id="id_payment_method" class="form-control"
                                    name="payment_method">
                                <option value="cash">Наличное</option>
                                <option value="card">Карта</option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label>Комментарии</label>
                            <input id="id_comment" autocomplete="off" class="form-control"
                                   type="text" name="comment">
                        </div>
                    </form>
                    <button class="btn btn-sm btn-dark m-3 float-right" type="submit"
                            {% if wash_order.status == 'completed' and not request.user.is_superuser %}disabled{% endif %}
                            form="payment_add">
                        Добавить
                    </button>
                </div>
                <div class="col-md-12">
                    <h5 class="text-dark ml-2">Список оплат по заказу</h5>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered text-center mt-2">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Дата</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Метод оплаты</th>
                            <th scope="col">Комментарии</th>
                        </tr>
                        </thead>
                        <tbody id="id_wash_order_item_list" class="bg-light table_tr_list">
                        {% for payment in payments %}
                            <tr>
                                <td>{{ payment.created }}</td>
                                <td>{{ payment.amount|intcomma }}</td>
                                <td>{{ payment.get_payment_method_display }}</td>
                                <td>{{ payment.comment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-info float-right mt-2" onclick="printTable()">Печатать
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Client -->
    <div class="modal fade" id="removeWashOrderItemModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="removeWashOrderItemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">
                        Удалить элемент заказа с площадью: <span id="removeWashOrderItemName"></span></h6>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-black">Точно хотите удалить
                        его?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'order_action' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete_wash_order_item">
                        <input type="hidden" name="back_url" value="wash-order-detail">
                        <input type="hidden" name="wash_order_id" value="{{ wash_order.pk }}">
                        <input type="hidden" id="wash_order_item_id" name="wash_order_item_id" value="">
                        <button id="removeWashOrderItemButton" type="submit" class="btn btn-danger" onclick="">
                            Удалить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
    <script>
        $('#payment_add, #wash_order_item_form').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        $(document).ready(function () {
            $('.select2-container--default').addClass('form-control')
            $('.select2-selection--single').attr('style', 'border: 0')
            $('#team_select2').select2({
                placeholder: '{{ wash_order.team|default:'Выберите команду' }}',
                allowClear: true
            });
        });
        $('.update_team_or_status').change(function () {
            $(`#button_save_team_and_status`).removeClass('d-none')
        })

        function status_update_show() {
            $(`#id_status_text`).addClass('d-none')
            $(`#id_select_status`).removeClass('d-none')
            $(`#button_save_team_and_status`).removeClass('d-none')
        }

        function removeWashOrderItemModalShow(id, area) {
            $(`#removeWashOrderItemName`).text(area)
            $(`#removeWashOrderItemModal`).modal('toggle')
            $(`#washOrderItemId`).attr('value', id)
            $(`#wash_order_item_id`).val(id)
        }

        function updateWashOrderItem(id, x_size, y_size, area, summa) {
            $(`#id_x_size`).val(x_size);
            $(`#id_y_size`).val(y_size);
            $(`#id_area`).val(area);
            $(`#id_summa`).val(summa);
            $(`#id_button_add_or_update`).text('Изменить');
            $(`#different_action`).val('update_wash_order_item');
            $(`#wash_order_item_pk`).val(id);
        }

        $(`.wash_order_item_size`).keyup(e => {
            let x_size_value = $(`#id_x_size`).val().replace(/,/g, '.') || 0
            let y_size_value = $(`#id_y_size`).val().replace(/,/g, '.') || 0
            let total_size_area = parseFloat(x_size_value) * parseFloat(y_size_value)
            $(`#id_area`).val(total_size_area)
            if (parseInt($(`#id_area`).val()) !== 0) {
                let total_sum = parseFloat($(`#id_area`).val()) * parseFloat({{ wash_order.price }})
                $(`#id_summa`).val(total_sum)
            }
        });

        async function accepted_status_wash_order(data, url = '{% url 'order_action' %}') {
            let form_data = new FormData();
            for (var key in data) {
                form_data.append(key, data[key]);
            }
            const response = await fetch(url, {
                method: "post",
                cache: 'no-cache',
                body: form_data
            })
                .then(response => {
                    console.log(data);
                })
                .catch(response => {
                    alert('Error')
                })
        }

        async function printTable(data) {
            if (data) {
                accepted_status_wash_order(data)
            }
            let originalContents = document.body.innerHTML;

            let template = `<table style="width:100%;">
            <tr>
                <td style="width: 200px;padding: 5px;">
                <div style="background-image: url('{% static 'img/logo.png' %}'); width:200px; height:100px; background-size: contain; background-repeat: no-repeat;background-position: center;"></div>
                </td>
                <td style="padding: 5px;">
                    <p>
                        <strong>ALLADIN CARPET</strong><br/>
                        Телефон: +998 99 573 05 05 Телефон: +998 97 575 05 05

                    </p>
                </td>
            </tr>
        </table>

        <h3 style="text-align: center;">НАКЛАДНАЯ № {{ wash_order.numbering }} от {{ wash_order.created_at }}</h3>
        <hr/>

        <table style="width: 100%;text-align: center;" border="1">
            <tr style="background-color: grey;font-weight: bold;">
                <td style="padding: 5px;">№</td>
                <td style="padding: 5px;">Ширина</td>
                <td style="padding: 5px;">Высота</td>
                <td style="padding: 5px;">Квардрат</td>
                <td style="padding: 5px;">Цена</td>
                <td style="padding: 5px;">Сумма</td>
            </tr>
            {% for item in wash_order_items %}
            <tr>
                <td style="padding: 5px;">{{ forloop.counter }}</td>
                <td style="padding: 5px;">{{ item.x_size }} м</td>
                <td style="padding: 5px;">{{ item.y_size }} м</td>
                <td style="padding: 5px;">{{ item.area }} кв</td>
                <td style="padding: 5px;">{{ item.wash_order.price|intcomma|remove_zero }}</td>
                <td style="padding: 5px;">{{ item.summa|intcomma }}</td>
            </tr>
            {% endfor %}

            <tr style="font-weight: bold;">
                <td style="padding: 5px;"></td>
                <td style="padding: 5px;"></td>
                <td style="padding: 5px;">Общая ква-ра</td>
                <td style="padding: 5px;">{{ total.total_area }} кв</td>
                <td style="padding: 5px;">Общая сумма</td>
                <td style="padding: 5px;">{{ total.total_summa|intcomma }}</td>
            </tr>

        </table>
        <p>Сумма с прописью: <strong>{{ total.total_summa|intcomma }}</strong> <i>( девяносто тысяч сум ноль тийинов )</i> </p>
        <table style="width: 100%;margin-top:10px;text-align: center;" border="1">
            <tr style="background-color: grey;font-weight: bold;">
                <td style="padding: 5px;"> Сдал: </td>
                <td style="padding: 5px;"> Принял (клиент): </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Бригада №{{ wash_order.team_id }} {{ wash_order.team.worker_name }}<br/>
                        {{ wash_order.team.phone }}
                    </p>
                </td>
                <td>
                    <p>
                        {{ wash_order.client }}<br/>
                        {{ wash_order.client.address }} <br/>
                        {{ wash_order.client.phone }} | {{ wash_order.client.phone_extra|default:'-' }}
                    </p>
                </td>
            </tr>

            <tr style="text-align: center;margin-top:8px;">
                <td style="padding:7px;"> подпись ____________________________   </td>
                <td style="padding:7px;"> подпись ____________________________  </td>
            </tr>
        </table>`;

            template += template;

            document.body.innerHTML = template;

            await window.print();

            document.body.innerHTML = originalContents;
            await location.reload()
        }


        {#function check_input_value(data, action) {#}
        {#    if ($('#id_x_size').val() !== '' && $('#id_y_size').val() !== '') {#}
        {#        if (action === 'create_wash_order_item') {#}
        {#            create_wash_order_item(data)#}
        {#        } else if (action === 'update_wash_order_item') {#}
        {#            update_wash_order_item(data)#}
        {#        }#}
        {#    } else {#}
        {#        alert('Заполните поля')#}
        {#    }#}
        {# }#}


        {#async function create_wash_order_item(data, url = '{% url 'order_action' %}') {#}
        {#    let form_data = new FormData();#}
        {#    for (var key in data) {#}
        {#        form_data.append(key, data[key]);#}
        {#    }#}
        {#    const response = await fetch(url, {#}
        {#        method: "post",#}
        {#        cache: 'no-cache',#}
        {#        body: form_data#}
        {#    })#}
        {#        .then(response => {#}
        {#            return response.json();#}
        {#        })#}
        {#        .then((response_data) => {#}
        {#            console.log(response_data);#}
        {#            $(`#id_x_size, #id_y_size, #id_area, #id_summa`).val('')#}
        {#            let last_element_number = document.getElementsByClassName('table_tr_list')[0].children.length + 1#}
        {#            $(`#id_wash_order_item_list`)[0].innerHTML += ` <tr id="id_tr_wash_order_item_${response_data['pk']}">#}
        {#                            <th scope="row">${last_element_number}</th>#}
        {#                            <td id="id_td_x_size_${response_data['pk']}">${response_data['x_size']}</td>#}
        {#                            <td id="id_td_y_size_${response_data['pk']}">${response_data['y_size']}</td>#}
        {#                            <td id="id_td_area_${response_data['pk']}">${response_data['area']}</td>#}
        {#                            <td id="id_td_summa_${response_data['pk']}">${response_data['summa']}</td>#}
        {#                            <td>#}
        {#                                <button class="btn btn-outline-danger btn-sm mr-2"#}
        {#                                        onclick="removeWashOrderItemModalShow(${response_data['pk']}, '${response_data['area']}')"#}
        {#                                        data-target="#removeWashOrderItemModal">#}
        {#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
        {#                                         fill="currentColor"#}
        {#                                         class="bi bi-trash" viewBox="0 0 16 16">#}
        {#                                        <path#}
        {#                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>#}
        {#                                        <path fill-rule="evenodd"#}
        {#                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>#}
        {#                                    </svg>#}
        {#                                </button>#}
        {#                                <button type="button"#}
        {#                                        onclick="updateWashOrderItem(${response_data['pk']}, '${response_data['x_size']}', '${response_data['y_size']}', '${response_data['area']}', '${response_data['summa']}')"#}
        {#                                        class="btn btn-outline-dark btn-sm mr-2">#}
        {#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
        {#                                         fill="currentColor"#}
        {#                                         style="margin-bottom: 2px"#}
        {#                                         class="bi bi-pencil-fill" viewBox="0 0 16 16">#}
        {#                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>#}
        {#                                    </svg>#}
        {#                                </button>#}
        {#                            </td>#}
        {#                        </tr>`#}
        {#        })#}
        {#        .catch(response => {#}
        {#            alert('Error')#}
        {#        })#}
        {# }#}
        {##}
        {#async function update_wash_order_item(data, url = '{% url 'order_action' %}') {#}
        {#    let form_data = new FormData();#}
        {#    for (var key in data) {#}
        {#        form_data.append(key, data[key]);#}
        {#    }#}
        {#    const response = await fetch(url, {#}
        {#        method: "post",#}
        {#        cache: 'no-cache',#}
        {#        body: form_data#}
        {#    })#}
        {#        .then(response => {#}
        {#            return response.json();#}
        {#        })#}
        {#        .then((response_data) => {#}
        {#            console.log(response_data);#}
        {#            $(`#id_x_size, #id_y_size, #id_area, #id_summa`).val('')#}
        {#            $(`#id_td_x_size_${response_data['pk']}`).text(`${response_data['x_size']}`)#}
        {#            $(`#id_td_y_size_${response_data['pk']}`).text(`${response_data['y_size']}`)#}
        {#            $(`#id_td_area_${response_data['pk']}`).text(`${response_data['area']}`)#}
        {#            $(`#id_td_summa_${response_data['pk']}`).text(`${response_data['summa']}`)#}
        {#        })#}
        {#        .catch(response => {#}
        {#            alert('Error')#}
        {#        }).finally(function () {#}
        {#            $(`#id_button_add_or_update`).attr('onclick', `check_input_value({#}
        {#                                                'action': 'create_wash_order_item',#}
        {#                                                'back_url': 'wash-order-detail',#}
        {#                                                'x_size': $('#id_x_size').val().replace(/,/g, '.'),#}
        {#                                                'y_size': $('#id_y_size').val().replace(/,/g, '.'),#}
        {#                                                'area': $('#id_area').val(),#}
        {#                                                'summa': $('#id_summa').val(),#}
        {#                                                'wash_order_pk': {{ wash_order.pk }}#}
        {#                                                }, 'create_wash_order_item')`).text('+')#}
        {#        })#}
        {# }#}
        {##}
    </script>
{% endblock extra_js %}