{% extends 'layout/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- breadcrumb-start -->
    <nav aria-label=" breadcrumb">
        <ol class="breadcrumb  py-2">
            <div class="container d-flex">
                <li class="breadcrumb-item "><a href="{% url 'home' %}">Главная</a></li>
                {% if search_value %}
                    <li class="breadcrumb-item active text-dark" aria-current="page"><a href="{% url 'client-list' %}">Клиенты</a>
                    </li>
                    <li class="breadcrumb-item active text-dark" aria-current="page">{{ search_value }}</li>
                {% else %}
                    <li class="breadcrumb-item active text-dark" aria-current="page">Клиенты</li>
                {% endif %}
            </div>
        </ol>
    </nav>
    <!-- breadcrumb-end -->

    <nav>
        <div class="nav nav-tabs container" id="nav-tab" role="tablist">
            <a class="nav-item nav-link {% if not search_value %} active{% endif %} text-dark" id="nav-home-tab"
               data-toggle="tab" href="#nav-home"
               role="tab"
               aria-controls="nav-home" aria-selected="true">Клиенты</a>
            <a class="nav-item nav-link text-dark {% if search_value %} active{% endif %} " id="nav-profile-tab"
               data-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">Поиск клиентов</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade {% if search_value %} show active {% endif %} " id="nav-profile" role="tabpanel"
             aria-labelledby="nav-profile-tab">
            <!-- client-add start -->
            <div class="container">
                <div class="row pt-3">
                    <div class="col-md-12">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-10">
                                    <h6>{% if search_value %} Поиск по запросу: {{ search_value }}{% endif %}</h6>
                                    <input class="form-control mt-3"
                                           type="text"
                                           autocomplete="off"
                                           name="name_or_phone_client"
                                           placeholder="Поиск клиентов">
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'client-list' %}" type="submit"
                                       class="btn btn-danger btn-sm btn-block">
                                        Сброс
                                    </a>
                                    <button type="submit" class="btn btn-dark btn-sm btn-block">
                                        Поиск
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>

            <!-- client-add end -->

            <!-- table-start -->
            <div class="container table-responsive">
                <table class="table table-bordered text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Ф.И.О</th>
                        <th scope="col">Тип клиента</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Регион</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Добавить заказ</th>
                        <th scope="col">Возможности</th>
                    </tr>
                    </thead>
                    <tbody class="bg-light">
                    {% for client in clients %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ client.full_name }}</td>
                            <td>{{ client.client_type }}</td>
                            <td>{{ client.address }}</td>
                            <td>{{ client.region }}</td>
                            <td>{{ client.phone }}</td>
                            <td>
                                <form action="{% url 'client_action' %}" method="post">
                                    <input type="hidden" name="action" value="create_wash_order_from_client_list">
                                    <input type="hidden" name="client_id" value="{{ client.pk }}">
                                    <input type="hidden" name="back_url" value="wash-order-detail">
                                    <button class="btn btn-outline-success btn-sm btn-block mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path
                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger btn-sm mr-2"
                                        onclick="removeClientModalShow({{ client.id }}, '{{ client.full_name }}')"
                                        data-target="#removeClientModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                <a href="{% url 'client-update' client.pk %}"
                                   class="btn btn-outline-dark btn-sm mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         style="margin-bottom: 2px"
                                         class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                                <a href="{% url 'client-detail' client.pk %}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                         fill="currentColor"
                                         class="bi bi-eye" viewBox="0 0 16 16">
                                        <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                        <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8"><h4>Не найдено клиентов</h4></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade{% if not search_value %} show active {% endif %}  " id="nav-home" role="tabpanel"
             aria-labelledby="nav-home-tab">
            <!-- client-add start -->
            <div class="container">
                <div class="row bg-light mt-1 pt-3">
                    <div class="col-md-12">
                        <form action="{% url 'client_action' %}" method="post">
                            <input type="hidden" name="action" value="create_client">
                            <input type="hidden" name="back_url" value="client-list">
                            <div class="row">
                                <div class="col-md-3">
                                    <select class="form-control select2-example bg-white"
                                            autocomplete="off" name="client_type" id="client_type_select2_id">
                                        <option value="">Тип клиента</option>
                                        {% for type in client_types %}
                                            <option value="{{ type.id }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <input name="phone" type="number" class="form-control" placeholder="Номер">
                                </div>
                                <div class="col-md-6">
                                    <input name="full_name" type="text" class="form-control" placeholder="Ф.И.О"
                                           required>
                                </div>
                            </div>
                            <div class="row mt-3 mb-2">
                                <div class="col-md-6">
                                    <input name="second_phone" type="text" class="form-control" placeholder="Доп номер" required>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control select2-example bg-white"
                                            autocomplete="off" name="region" id="region_select2_id">
                                        <option value="">Регион</option>
                                        {% for region in regions %}
                                            <option value="{{ region.id }}">{{ region.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            <div class="col-md-10 mt-3">
                                    <input name="address" type="text" class="form-control" placeholder="Адрес" required>
                                </div>
                                <div class="col-md-2 mt-3">
                                    <button type="submit" class="btn btn-outline-secondary btn-block p-1 text-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path
                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>

            <!-- client-add end -->

            <!-- table-start -->
            <div class="container table-responsive">
                <table class="table table-bordered text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Ф.И.О</th>
                        <th scope="col">Тип клиента</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Регион</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Добавить заказ</th>
                        <th scope="col">Возможности</th>
                    </tr>
                    </thead>
                    <tbody class="bg-light">
                    {% for client in clients %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ client.full_name }}</td>
                            <td>{{ client.client_type }}</td>
                            <td>{{ client.address }}</td>
                            <td>{{ client.region }}</td>
                            <td>{{ client.phone }}</td>
                            <td>
                                <form action="{% url 'client_action' %}" method="post">
                                    <input type="hidden" name="action" value="create_wash_order_from_client_list">
                                    <input type="hidden" name="client_id" value="{{ client.pk }}">
                                    <input type="hidden" name="back_url" value="wash-order-detail">
                                    <button class="btn btn-outline-success btn-sm btn-block mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path
                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger btn-sm mr-2"
                                        onclick="removeClientModalShow({{ client.id }}, '{{ client.full_name }}')"
                                        data-target="#removeClientModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                <a href="{% url 'client-update' client.pk %}" class="btn btn-outline-dark btn-sm mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         style="margin-bottom: 2px"
                                         class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                                <a href="{% url 'client-detail' client.pk %}" class="btn btn-outline-secondary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-eye" viewBox="0 0 16 16">
                                        <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                        <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Modal Client -->
    <div class="modal fade" id="removeClientModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="removeClientModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">
                        Клиент: <span id="removeClientName"></span></h6>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-black">Точно хотите удалить
                        его?</p>
                     <p class="text-black">Предупреждаем все заказы этого клиента будут удалены!</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'client_action' %}" method="post">
                        <input type="hidden" name="action" value="delete_client">
                        <input type="hidden" name="back_url" value="client-list">
                        <input type="hidden" id="clientId" name="client_id" value="">
                        <button id="removeClientButton" type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.select2-container--default').removeAttr('style').addClass('form-control');
            $('.select2-selection--single').attr('style', 'border: 0');
        });
        $('#region_select2_id').select2({
            placeholder: 'Регион',
            allowClear: true
        });
        $('#client_type_select2_id').select2({
            placeholder: 'Тип клиента',
            allowClear: true
        });

        function removeClientModalShow(id, name) {
            $(`#removeClientName`).text(name)
            $(`#removeClientModal`).modal('toggle')
            $(`#clientId`).attr('value', id)
        }
    </script>
{% endblock extra_js %}
