{% extends 'layout/base.html' %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <!-- breadcrumb-start -->
    <nav aria-label=" breadcrumb">
        <ol class="breadcrumb  py-2">
            <div class="container d-flex">
                <li class="breadcrumb-item "><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item active text-dark" aria-current="page">Регионы</li>
            </div>
        </ol>
    </nav>
    <!-- breadcrumb-end -->


    <!-- client-add start -->
    <div class="container table-responsive">
        <table class="table table-light text-center">
            <thead>
            <tr>
                <th class="text-left pl-1" scope="col">Регионы</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-bg">
                <form class="p-2" action="{% url 'client_action' %}" method="post">
                    <input type="hidden" id="different_action" name="action" value="create_region">
                    <input type="hidden" name="back_url" value="region-list">
                    <input type="hidden" id="region_pk" name="region_pk" value="">
                    <th scope="row" class="pl-1">
                        <input name="name" id="id_region_name" type="text" class="form-control"
                               placeholder="Название региона" required>
                    </th>
                    <td>
                        <button type="submit" id="id_button_add_or_update"
                                class="btn btn-outline-secondary btn-block p-1 text-center"
                                style="margin-top: 2px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-plus" viewBox="0 0 16 16">
                                <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <!-- client-add end -->

    <!-- table-start -->
    <div class="container">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Возможности</th>
            </tr>
            </thead>
            <tbody class="bg-light">
            {% for region in regions %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td id="id_td_region_name_{{ region.pk }}">{{ region.name }}</td>
                    <td>
                        <button class="btn btn-outline-danger btn-sm mr-2"
                                onclick="removeRegionModalShow({{ region.id }}, '{{ region.name }}')"
                                data-target="#removeRegionModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm mr-2"
                                onclick="updateRegion({{ region.id }},
                                        $('#id_td_region_name_{{ region.pk }}').text())">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 style="margin-bottom: 2px"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal Client -->
    <div class="modal fade" id="removeRegionModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="removeRegionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">
                        Регион: <span id="removeRegionName"></span></h6>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-black">Точно хотите удалить
                        его?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'client_action' %}" method="post">
                        <input type="hidden" name="action" value="delete_region">
                        <input type="hidden" name="back_url" value="region-list">
                        <input type="hidden" id="regionId" name="region_id" value="">
                        <button id="removeRegionButton" type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        function removeRegionModalShow(id, name) {
            $(`#removeRegionName`).text(name)
            $(`#removeRegionModal`).modal('toggle')
            $(`#regionId`).attr('value', id)
        }

        function updateRegion(id, name) {
            $(`#id_region_name`).val(name);
            $(`#id_button_add_or_update`).text('Изменить');
            $(`#different_action`).val('update_region');
            $(`#region_pk`).val(id);
        }
    </script>
{% endblock extra_js %}
